# Виртуальное окружение
.venv/
venv/

# Секреты
.env

# База и пользовательские файлы
db.sqlite3
media/
protected_media/
staticfiles/

# Node
node_modules/
dist/

# Python
__pycache__/
*.py[cod]

# Редакторы
.vscode/
.idea/
